{% load staticfiles %}
<style>
    #facebook_lightbox {
        display: none;
    }
</style>

<div id="fb-root" style="display:none;"></div>
<script id="allauth-facebook-settings" type="application/json">
    {
        "cancelUrl": "/",
        "loginByTokenUrl": "/accounts/facebook/login/token/", 
        "loginOptions": {"scope": "email"},
        "logoutUrl": "/logout/",
        "errorUrl": "/login?error",
        "appId": "{{facebook_app_id}}",
        "locale": "{{locale}}",
        "csrfToken": "{{csrf_token}}",
        "channelUrl": "/accounts/facebook/channel/"
    }
</script>
<script type="text/javascript" src="{% static "/static/facebook/js/fbconnect.js" %}"></script>