{% load staticfiles %}
<div>
    <div class="w-container footer-column">
      <div class="w-row">
        <div class="w-col w-col-2 w-clearfix"><a class="footer-nav-link" href="#">About</a><a class="footer-nav-link" href="#">Suggestions</a><a class="footer-nav-link" href="#">Contact us</a>
        </div>
        <div class="w-col w-col-3"><a class="footer-nav-link" href="#">Terms &amp; Conditions</a><a class="footer-nav-link" href="#">Privacy Policy</a><a class="footer-nav-link" href="#">Cookies</a>
        </div>
        <div class="w-col w-col-7 w-clearfix">
          <a class="w-inline-block social-icon" href="#">
            <img src="{% static "images/twitter.png" %}" width="16" alt="5383b7495aa5711a5495122a_twitter.png">
          </a>
          <a class="w-inline-block social-icon" href="#">
            <img src="{% static "images/facebook.png" %}" width="10" alt="5383b6f078e1ff6971388bd5_facebook.png">
          </a>
          <a class="w-inline-block social-icon" href="#">
            <img src="{% static "images/email.png" %}" width="20" alt="5383b72c8a5f2a68714e466e_email.png">
          </a>
        </div>
      </div>
    </div>
  </div>