{% load staticfiles %}
<div class="section-header">
  <div class="w-nav topnav" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container nav-container">
      <a class="w-nav-brand logo" href="#">
        <img src="{% static "images/g_logo_blue.png" %}" width="40" alt="538366065aa5711a549509de_g%20logo%20blue.png">
      </a>
      <nav class="w-nav-menu nav-menu-drop-down" role="navigation">
        <div class="nav-menu-block"><a class="w-nav-link drop-down-nav-link" href="#">Inbox (5)</a><a class="w-nav-link drop-down-nav-link" href="#">Edit profile</a><a class="w-nav-link drop-down-nav-link" href="#">Settings</a>
        </div><a class="w-nav-link drop-down-nav-link" href="#">Log out</a>
      </nav>
      <div class="w-nav-button menu-botton"><a class="w-nav-link nav-link login" href="#">Minced Unicorn</a>
      </div><a class="w-nav-link nav-link become-a-mentor" href="#">Become a mentor</a>
    </div>
  </div>
</div>