{% extends "pages/auxiliary/_auxiliary.html" %}
{% load staticfiles %}

{% block content %}
<style>
  .type-message-block {
    padding: 150px;
  }
</style>
  <div class="search-filter-section">
    <div class="w-container main-column title">
      <div class="text title large">Contact us</div>
    </div>
    <div class="w-container main-column">
      <div class="type-message-block">
        COMING SOON (For now, you can get in touch with us via <a href="mailto:info@gamecoach.co">Info@Gamecoach.co</a>)
      </div>
    </div>
  </div>
{% endblock %}