{% extends "pages/auxiliary/_auxiliary.html" %}
{% load staticfiles %}

{% block content %}
<div class="w-container main-column title">
    <div class="text title large">Gamecoach Privacy Policy</div>
  </div>
  <div class="search-filter-section">
    <div class="w-container main-column settings">
      <div class="text title regular">1. Introduction</div>
      <p class="text paragraph legal">1.1 We are www.gamecoach.co (referred to as "we", “us” and “Gamecoach”) and we are committed to protecting and respecting Your privacy when You are visiting any website maintained by us including without limitation the website at www.gamecoach.co
        and our social networking pages (together the “Website”), as we may publish and operate from time to time or communicating electronically with us.
        <br>1.2 Capitalised terms not otherwise defined in this Privacy Policy shall have the meanings given in the Terms of Service.
        <br>1.3 This policy (together with the Terms of Service which can be found at the bottom of the Website) explains what types of personal and non-personal information we collect when You use the Website and the basis on which any personal data we collect
        from You, or that You provide to us, will be processed by us.&nbsp;
        <br>1.4&nbsp;Please read the following carefully to understand our views and practices regarding Your personal data and how we will treat it. By disclosing Your personal information to us by using the Website and speaking to us over the telephone,
        You consent to the collection, storage and processing of Your personal information as stated in this policy.
        <br>1.5&nbsp;Gamecoach uses the personal information we collect from You to provide our service to You. We will not rent, sell or share Your personal information with any other company for its own marketing purposes without Your consent except where
        mentioned in this policy.</p>
      <div class="text title regular legal">2. What personal information do we collect?</div>
      <p class="text paragraph legal">2.1 We may collect, store and use the following kinds of personal information:</p>
      <p class="text paragraph legal sub">(a) if You register as a user through the Website, You will be asked to complete a form which will require You to provide email address;
        <br>(b) when You contact us by email or telephone or through any contact form provided on the Website, we may ask You to provide some or all of the information set out in paragraph (a) inclusive above;
        <br>(c) we may collect, store and use information about Your computer, mobile device or other item of hardware through which You access the Website and Your visits to and use of the Website (including without limitation Your IP address, geographical
        location, browser/platform type and version, Internet Service Provider, operating system, referral source/exit pages, length of visit, page views, website navigation and search terms that You use);
        <br>(d) if You access the Website through a social networking profile, we may collect, store and use the details of that social networking profile and any information contained therein in order to populate any forms You might wish to complete on the
        Website; and</p>
      <p class="text paragraph legal">2.1 We may also ask You to complete surveys and give feedback that we use for research purposes, although You do not have to respond to them.</p>
      <div class="text title regular legal">3. How do we use personal information?</div>
      <p class="text paragraph legal">3.1 We may use Your personal information for the following purposes:</p>
      <p class="text paragraph legal sub">(a) to manage and administer the Website;
        <br>(b) to improve Your browsing experience by personalising the Website;
        <br>(c) to enable You to use the Website;
        <br>(d) to meet our contractual obligations to You;
        <br>(e) to comply with any legal or statutory requirement;
        <br>(f) to send You newsletters and other relevant and targeted promotional communications;
        <br>(g) to deal with enquiries, complaints and feedback from You and our service providers;
        <br>(h) to provide third parties with statistical anonymised information about our users;
        <br>(i)&nbsp;to send You emails offering You to take part in a survey and/or give feedback; and
        <br>(j) to analyse and improve the services offered on the Website.</p>
      <p class="text paragraph legal">3.2 Gamecoach may collect information about users who visit the Website and aggregate this information for statistical purposes. We use the information collected to help us understand more about our users and how the Website is used in order to
        provide our users with a better service.</p>
      <div class="text title regular legal">4. When might we disclose personal information?</div>
      <p class="text paragraph legal">Except to the extent required by any applicable law or governmental or judicial body, we will not disclose Your personal information to any third party other than a service provider to whom we are required to disclose personal information in order
        for them to provide their services to us or as required to enable us to enforce our rights under the Terms of Service. Where we believe that a criminal offence may have been committed, we may disclose personal information to the police or other
        law enforcement agencies.</p>
      <div class="text title regular legal">5. Newsletters and other promotional communications</div>
      <p class="text paragraph legal">If You wish to subscribe to any newsletter published by us or wish to receive other targeted and relevant promotional communications from us or other carefully chosen affiliates, we offer You the option to “opt-in” to this service. If You change
        Your mind and wish to stop receiving any such communications, please either email us at team@gamecoach.co or click the “unsubscribe” link in any email from us.</p>
      <div class="text title regular legal">6. Our use of cookies and web beacons</div>
      <p class="text paragraph legal">6.1&nbsp;Cookies are text files stored, either on a temporary or persistent basis on the hard drive of Your computer. Cookies are used for authenticating, session tracking and maintaining specific information about the use and users of the Website.
        <br>6.2&nbsp;The data collected by cookies is anonymous. You can delete all cookies that are already on Your computer's hard drive by searching for files with "cookie" in it and deleting them. In addition, if You want to stop cookies from being stored
        on Your computer, You can edit Your browser settings so that cookies are blocked. Unfortunately, if You block cookies You may not be able to use the full functionality of the Website. For more information about cookies, please visit: www.allaboutcookies.org.
        <br>6.3&nbsp;Web beacons consist of a small string of software code that represents a graphic image request on a page or email. There may or may not be a visible graphic image associated with the web beacon and often the image is designed to blend
        into the background of a page or email. Web beacons can be used for many purposes - including site traffic reporting, unique visitor counts, advertising auditing and reporting, and personalization. Web beacons used by www.gamecoach.com collect
        only anonymous data.
        <br>6.4&nbsp;In order to improve the Website and the services we offer You, we may use (temporary and persistent) cookies, authorized third parties cookies, web beacons and/or other technologies to collect non-personally identifiable data. This non-personally
        identifiable data helps us to track browsing behaviour, to create specific or tailor-made offers or advertisements, and to monitor and record the visits and use of the Website.
        <br>6.5&nbsp;In order to understand how people use the Website and for marketing analysis and quality improvement purposes, we (and/or third party service providers) may collect, record, process and use on an anonymous basis certain information (including
        the total number of messages, viewed pages, referring/exit pages, platform type, date/time stamp information and details like the number and location of mouse clicks on a given page, mouse movements, scrolling activity and the search words You
        use while being on and using the Website).
        <br>1.6&nbsp;If You register with us or if You continue to use the Website, You agree to our use of cookies.</p>
      <div class="text title regular legal">7. Security</div>
      <p class="text paragraph legal">Gamecoach continually tries to keep all information secure from unauthorised access by using SSL encryption on sensitive data. However, transmission over the Internet cannot be guaranteed to be 100% secure, so any information You submit is done
        so at Your own risk.</p>
      <div class="text title regular legal">8. Where we store Your personal data</div>
      <p class="text paragraph legal">8.1 The data that we collect from You may be transferred to, and stored at, a destination outside the European Economic Area (“EEA”). It may also be processed by staff operating outside the EEA who work for us. By submitting Your personal data,
        You agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy.
        <br>8.2 All information You provide to us is stored on our secure servers.
        <br>8.3 We take the security of Your personal data very seriously. In particular we use all reasonable endeavours to ensure that appropriate security measures are in place to protect Your personal data. Unfortunately, the transmission of information
        via the internet is not completely secure and so we cannot guarantee the security of Your data transmitted through the Website; any transmission is at Your own risk. Once we have received Your information, we will use strict procedures and security
        features to try to prevent unauthorised access.
      </p>
      <div class="text title regular legal">9. Links to Third Party websites</div>
      <p class="text paragraph legal">The Website may include links to third party websites. We are not responsible for the content of third party websites. Please ensure that prior to using any such website, You have read and understood its Privacy Policy and Terms of Service. These
        documents will govern Your rights and obligations when using the relevant third party website.
      </p>
      <div class="text title regular legal">10. Your rights</div>
      <p class="text paragraph legal">1The Act gives You the right to ask us not to process Your personal data for marketing purposes. We will usually inform You (before collecting Your data) if we intend to use Your data for such purposes or if we intend to disclose Your information
        to any third party for such purposes. You can exercise Your right to prevent such processing by checking certain boxes on the forms we use to collect Your data.&nbsp; You can also exercise the right at any time by contacting us at team@gamecoach.co</p>
      <div
      class="text title regular legal">11. Access to information
    </div>
    <p class="text paragraph legal">The Act gives You the right to access information held about You. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee of £10 to meet our costs in providing You with details of the information
      we hold about You.</p>
    <div class="text title regular legal">12. Data Protection Act 1998</div>
    <p class="text paragraph legal">12.1 Gamecoach complies with the requirements of the Data Protection Act 1998 as follows:</p>
    <p class="text paragraph legal sub">(a) Personal data shall be processed fairly and lawfully. Gamecoach will ensure that data is obtained fairly, and will make reasonable efforts to ensure that&nbsp;data subjects&nbsp;are told who the data controller is, what the data will be used for,
      for how long the data will be kept and any third parties to whom the data will be disclosed. In order for processing to be fair and lawful, data which is not sensitive personal data will only be processed by Gamecoach if at least one of the following
      conditions, set down in the Data Protection Act 1998, has been met:
    </p>
    <p class="text paragraph legal sub subsub">(i)&nbsp;Personal data shall be obtained only for a specified and lawful purpose or purposes, and shall not be further processed in any manner incompatible with that purpose or purposes.
      <br>(ii)&nbsp;Gamecoach will ensure that data, which is obtained for a specified purpose is not used for a different purpose, unless that use is done with the consent of the data subject, is covered by Gamecoach's registration with the Information Commissioner,
      or is otherwise permitted under the Data Protection Act.
      <br>(iii)&nbsp;Personal data shall be adequate, relevant and not excessive in relation to the purpose or purposes for which they are processed. Gamecoach will not collect personal data, which are not strictly necessary for the purpose or purposes for
      which they were obtained.
      <br>(iv)&nbsp;Personal data shall be accurate and, where necessary, kept up to date. Gamecoach will take reasonable steps to ensure the accuracy of personal data, which it holds, and will take steps to correct inaccurate data when requested to do so
      by a data subject.
      <br>(v)&nbsp;Personal data processed for any purpose shall not be kept for longer than is necessary for that purpose. Gamecoach will ensure that personal data are not kept for longer than is required by the purpose or purposes for which the data were
      gathered. Gamecoach may retain certain data indefinitely for research purposes (including historical or statistical purposes), as permitted under the Data Protection Act, subject to the conditions laid down in the Act for this type of processing.
      <br>(vi)&nbsp;Personal data shall be processed in accordance with the rights of data subjects under the Data Protection Act. Gamecoach will ensure that personal data are processed in accordance with the rights of data subjects under the Data Protection
      Act. These rights include the right to appropriate technical and organisational measures shall be taken to prevent the unauthorised or unlawful processing of personal data and the accidental loss, destruction of or damage to personal data.
      <br>(vii)&nbsp;Gamecoach will take steps to ensure the security of personal data, which are held electronically and in manual form, to prevent the unauthorized disclosure of data to third parties, and loss or damage to data that may affect the interests
      of data subjects. Gamecoach will also ensure that data processors provide an appropriate level of security for the personal data, which they are processing on Gamecoach 's behalf.
      <br>(viii)&nbsp;Personal data shall not be transferred to a country or territory outside the European Economic Area unless that country or territory ensures an adequate level of protection for the rights and freedoms of data subjects in relation to
      the processing of personal data. &nbsp;
      <br>(ix)&nbsp;Gamecoach will not transfer data outside the European Economic Area unless the transfer would be permitted under the Data Protection Act.</p>
    <div class="text title regular legal">13. Changes to our Privacy Policy</div>
    <p class="text paragraph legal">We reserve the right to amend this Privacy Policy. Any changes we may make to our Privacy Policy in the future will be posted on this page and, where appropriate, notified to You by e-mail.
    </p>
    <div class="text title regular legal">14. Contact</div>
    <p class="text paragraph legal">Questions, comments and requests regarding this Privacy Policy are welcomed and should be addressed to team@gamecoach.co.</p>
  </div>
  </div>
{% endblock %}