{% extends "pages/auxiliary/_auxiliary.html" %}
{% load staticfiles %}

{% block content %}
<div class="w-container main-column title">
    <div class="text title large">Gamecoach Terms of Service</div>
  </div>
  <div class="search-filter-section">
    <div class="w-container main-column settings">
      <div class="text title regular">1. What are these Terms?</div>
      <p class="text paragraph legal">1.1 These Terms set out the terms on which Gamecoach provides the Website, which offers a platform that brings together video game players who want to coach each other. These apply to Your use of the Website.
        <br>1.2 Please review these Terms carefully and make sure that You understand them before using the Website. If You do not agree to these Terms, You must cease use of the Website.</p>
      <div class="text title regular legal">2. Definitions</div>
      <p class="text paragraph legal">2.1 In these Terms:</p>
      <p class="text paragraph legal sub">“Account” means the account of a User with Gamecoach, which is created when the User registers with Gamecoach by completing the registration form available on the Website.
        <br>“User”, “You” or “Your” means any User who is either a Student or a Mentor.
        <br>“Student” means any User who uses the Website to find Mentors who can provide mentoring.
        <br>“Mentor” means any User who uses the Website to respond to Students seek mentoring.
        <br>“User Terms” means the Terms of Service applicable to Users.
        <br>“Gamecoach”, “we” and “us” are references to www.gamecoach.co.
        <br>“Privacy Policy” means the privacy policy a link to which can be found at the bottom of the Website.
        <br>“Terms” means these Terms of Service including the Privacy Policy.
        <br>“Website” means any website published by Gamecoach from time to time including without limitation the website at www.gamecoach.co and its subdomains, any associated social networking profiles and any applications for mobile devices published by
        Gamecoach from time to time.</p>
      <div class="text title regular legal">3. Acceptance of Terms</div>
      <p class="text paragraph legal">3.1 By using the Website, You accept and agree to be bound by these Terms.
        <br>3.2 Gamecoach may at any time modify these Terms. We will notify You of any changes to these Terms either by emailing You (at the email address entered by You into the registration form on the Website) and/or by posting a notice on the Website.
        By continuing to use the Website after changes to these Terms are made and notified to You, You agree to be bound by such changes.
        <br>3.3 You can review the most current version of our Terms at any time by clicking on the "small print" link located at the top of the Website. It is Your responsibility to ensure that You are familiar with the current Terms. You are advised to
        check the above link on a regular basis.</p>
      <div class="text title regular legal">4. What is the Website?</div>
      <p class="text paragraph legal">4.1 The Website is an electronic platform bringing together video game players to enable them to teach each other to play video games better.</p>
      <div class="text title regular legal">5. How to find a mentor</div>
      <p class="text paragraph legal">5.1 You may browse the Website for free and may view Mentor profile without any obligation to register.
        <br>5.2&nbsp;If You wish to contact a Mentor, You may do so by clicking “Contact Mentor” on the profile of the relevant Mentor.
        <br>5.3 You will be asked to log in to Your Account, or if You have not yet set up an Account, You will be asked to register with the Website. Once You have logged into Your Account (or have registered an Account with the Website), You will be redirected
        to the web page where You will be able to send a message to the Mentor
        <br>5.4 If the Mentor you contacted decides to respond to your message, You will be able to see it on the same web page.</p>
      <div class="text title regular legal">6. How to become a mentor</div>
      <p class="text paragraph legal">6.1 To become a Mentor you will need to click on “Become a Mentor” anywhere on the Website.
        <br>6.2 You will be asked to log in to Your Account, or if You have not yet set up an Account, You will be asked to register with the Website. Once You have logged into Your Account (or have registered an Account with the Website), Your profile will
        become visible to Students in the search results.
        <br>6.3 If a Student contacts you, You can choose to respond.</p>
      <div class="text title regular legal">7. Information on the Website</div>
      <p class="text paragraph legal">7.1 All information relating to Users on the Website is provided by Users. Users are responsible for updating the their information on the Website.
        <br>7.2 We are not and will not be responsible for any inaccurate, incomplete, misleading, untrue or incorrect information displayed on the Website (including manifest and typographical errors) or for any interruptions (whether due to scheduled or
        unscheduled repair, upgrade or maintenance, any failure of the Website (whether or not our fault) or for any failure by a User to deliver any service or perform its obligations under any contract.
        <br>7.3 You hereby acknowledge and understand that we may not have conducted any quality or other checks on any information provided by Users. The Website (and in particular any reviews by users) does not represent a recommendation, endorsement or
        guarantee as to quality, experience or value for money by us or any user.</p>
      <div class="text title regular legal">8. Your Conduct</div>
      <p class="text paragraph legal">8.1 By downloading and/or using the Website, You agree not to upload, post, e-mail or otherwise send or transmit any material that contains viruses, Trojan horses, worms or any other computer code, files or programs designed to interrupt, destroy
        or limit the functionality of any computer software or hardware or telecommunications equipment associated with the Website.
        <br>8.2 You agree and undertake to keep Your username and password confidential, not to disclose Your password to any other person and not to permit any other person to log in to the Website using Your username and password.
        <br>8.3 You agree not to interfere with the servers or networks connected to the Website or to violate any of the procedures, policies or regulations of networks connected to the Website, including these Terms.
        <br>8.4 You also agree not to:</p>
      <p class="text paragraph legal sub">(a) attempt to reverse engineer or sell, export, license, modify, copy, distribute or transmit the Website to any third party, or jeopardize the correct functioning of the Website, or otherwise attempt to derive the source code of the software (including
        the tools, methods, processes and infrastructure) that enables or underlies the Website;
        <br>(b) attempt to gain access to secured portions of the Website to which You do not possess access rights;
        <br>(c)&nbsp;impersonate any other person while using the Website;
        <br>(d) conduct Yourself in a vulgar, offensive, harassing or objectionable manner while using the Website;
        <br>(e) resell or export the software associated with the Website;
        <br>(f) use the Website to generate unsolicited advertisements or spam; or
        <br>(g) use any automatic or manual process to search or harvest information from the Website, or to interfere in any way with the proper functioning of the Website.</p>
      <div class="text title regular legal">9. Our Rights
      </div>
      <p class="text paragraph legal">In providing You with access to the Website, Gamecoach reserves the following rights, and in accessing, browsing or otherwise using the Website You grant to Gamecoach and agree that Gamecoach shall have the following rights:</p>
      <p class="text paragraph legal sub">(a) the right to refuse or withdraw Your access to the Website in accordance with applicable laws for any reason at any time (with or without notice) if in Gamecoach’s sole and absolute discretion You violate or breach any of these Terms;
        <br>(b) the right to suspend, amend or disable Your Account without giving You notice or any reason;
        <br>(c) the right to remove or amend any information without giving You notice or any reason;
        <br>(d)&nbsp;the right to amend or update the Website or these Terms from time to time;
        <br>(e) the right to report You to the police or other judicial body if Gamecoach believes in its sole and absolute discretion that Your conduct (whether in using the Website or otherwise) is or may be unlawful.</p>
      <div class="text title regular legal">10. Intellectual Property
      </div>
      <p class="text paragraph legal">10.1&nbsp;Gamecoach and/or its licensor(s) are the sole owners of the Website, which includes any software, domains, and content made available through the Website.
        <br>10.2 The Gamecoach brand and the Website are protected by UK and International copyright and other intellectual property laws. Without limitation, this means that You may not sell, export, license, modify, copy, distribute or transmit the Website
        (or any part of it) or any material provided through the Website without Gamecoach’s prior express written consent.
        <br>10.3 Any unauthorized use of the Website will result in the automatic termination of the limited license granted by us. Gamecoach reserves the right to terminate the limited license without notice at any time following an unauthorized use by You
        of the Website.
        <br>10.4 Gamecoach and its graphics, logos, icons and service names related to the Website are registered and unregistered trademarks or trade dress of Gamecoach. They may not be used without Gamecoach’s prior express written permission.
        <br>10.5 All other trademarks not owned by Gamecoach that appear in connection with the Website are the property of their respective owners, who may or may not be affiliated with, connected to or sponsored by Gamecoach.</p>
      <div class="text title regular legal">11. Security</div>
      <p class="text paragraph legal">Whilst we have implemented commercially reasonable technical and organisational measures to secure Your personal information from unauthorised use, we cannot guarantee that unauthorised third parties will never be able to defeat those measures.
        You acknowledge that You provide Your personal information at Your own risk.</p>
      <div class="text title regular legal">12. Electronic Communications
      </div>
      <p class="text paragraph legal">By downloading and/or using the Website, You consent to receiving electronic communications and notices from Gamecoach. You agree that any notice, agreement, disclosure or other communications that we send to You electronically will satisfy any
        legal communication requirements, including that such communications be in writing.</p>
      <div class="text title regular legal">13. Privacy</div>
      <p class="text paragraph legal">You provide us with information when You register an Account via the Website. We also collect information both relating to You (for example on Your usage and purchase history) and to Users of the Website in general. Any information that You submit
        or that we collect when You are using the Website is subject to the Gamecoach Privacy Policy, the terms of which are hereby incorporated into these Terms.</p>
      <div class="text title regular legal">14. No Warranty and Liability Limit</div>
      <p class="text paragraph legal">14.1 Gamecoach provides the Website "as is" and without any warranty or condition, whether express, implied or statutory. Gamecoach specifically disclaims any implied warranties of title, merchantability, fitness for a particular purpose and non-infringement
        to the extent permissible under the Sale of Goods Act 1979 (as amended).
        <br>14.2 Gamecoach assumes no liability or responsibility for any errors or omissions in the Website; any failures, delays or interruptions in the Website; any losses or damages arising from the use of the Website and any conduct by Users of the Website.
        <br>14.3 Gamecoach reserves the right to deliver the Website, to publish User profiles and to facilitate User communication in its sole and absolute discretion.
        <br>14.4 In no event shall Gamecoach, its shareholders, directors, officers, employees or agents be liable (jointly or severally) to You for loss of use or any special, incidental, indirect or consequential damages arising out of or in connection
        with the Website, or these Terms, on any theory of liability, and whether or not advised of the possibility of damage.
        <br>14.5 Gamecoach does not seek to exclude liability for death or personal injury caused by our negligence, or fraud or fraudulent misrepresentation on the part of Gamecoach.
        <br>14.6 If any applicable authority holds any portion of this section to be unenforceable, then liability will be limited to the fullest possible extent permitted by applicable law.
        <br>14.7 From time to time You may use or access services, promotions and websites of third parties. In using or accessing third party services, promotions and websites, You agree to be bound by the Terms of such third parties governing their services,
        promotions and websites and hereby acknowledge that we shall not be responsible for the provision of services, accuracy of promotions or content of websites belonging or operated by third parties.
        <br>14.8 Gamecoach specifically excludes liability for any loss, harm, distress or damage suffered by You or any third party as a result of inaccurate information appearing on the Website.</p>
      <div class="text title regular legal">15. Indemnity</div>
      <p class="text paragraph legal">You agree to indemnify and hold Gamecoach and its related companies, and each of their respective shareholders, directors, officers, employees, agents and merchant partners harmless from and against any third-party claim or cause of action, including
        reasonable attorneys' fees and court costs, arising, directly or indirectly, out of Your breach of these Terms and/or Your violation of any law or the rights of any third party.</p>
      <div class="text title regular legal">16. Disputes</div>
      <p class="text paragraph legal">16.1 You agree that these Terms and any claim, dispute or controversy arising out of in connection with these Terms or their subject matter or formation (including non-contractual disputes or claims), the Website, Gamecoach’s advertising or any
        related transaction between You and Gamecoach shall be governed by and construed in accordance with English law.
        <br>16.2 Any dispute or claim arising out of or in connection with such matters (including non-contractual disputes or claims) will be subject to the exclusive jurisdiction of the courts of England and Wales.</p>
      <div class="text title regular legal">17. Termination</div>
      <p class="text paragraph legal">Gamecoach may change or discontinue the availability of the Website and at any time without prior notice. Gamecoach reserves the right to terminate these Terms for any reason, without notice, and these Terms shall automatically terminate in the
        event that You violate any of the Terms set forth herein (with prejudice to our accumulated rights against You). In the event of any termination, You will immediately cease use of the Website and will not make any Order.</p>
      <div class="text title regular legal">18. General</div>
      <p class="text paragraph legal">18.1 These Terms are agreed between You and us. No person shall have any rights under or connection with these Terms under the Contracts (Rights of Third Parties) Act 1999.
        <br>18.2 If any court or competent authority decides that any term of these Terms is held to be invalid, unlawful or unenforceable to any extent, such term shall, to that extent only, be severed from the remaining terms, which shall continue to be
        valid to the fullest extent permitted by law.
        <br>18.3 Headings are for reference purposes only and in no way define, limit, construe or describe the extent or scope of such section.
        <br>18.4 Our failure to enforce any provision of these Terms shall not constitute a waiver of that or any other provision and will not relieve You from the obligation to comply with such provision.
        <br>18.5 You are not permitted to assign, transfer, charge, sub-contract or deal in any other manner with all or any of Your rights under these Terms without our prior express written consent.&nbsp;
        <br>18.6 These Terms set forth the entire understanding and agreement between You and Gamecoach with respect to the subject matter hereof.
        <br>18.7 These Terms and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the laws of England.
        <br>18.8 You irrevocably agree that the courts of England shall have exclusive jurisdiction to settle any dispute or claim that arises out of or in connection with these Terms agreement or their subject matter or formation (including non-contractual
        disputes or claims).</p>
    </div>
  </div>
{% endblock %}