{% extends "pages/shared/page.html" %}
{% load staticfiles %}

{% block body_tag %}ng-app="genericApp"{% endblock %}

{% block content %}
	<style>
		.empty-inbox {
			padding: 150px;
		}
	</style>
	<div class="search-filter-section">
		<div class="w-container main-column---messages">
			<div class="text title empty-inbox">Sorry, it looks like something went wrong.</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static "js/shared.js" %}"></script> 
	<script type="text/javascript" src="{% static "js/navigation.js" %}"></script>
	<script type="text/javascript" src="{% static "js/generic.js" %}"></script> 
{% endblock %}