{% extends "pages/shared/page.html" %}
{% load staticfiles %}

{% block body_tag %}ng-app="mentorContactApp"{% endblock %}

{% block content %}
	{% include "pages/shared/facebook.html" %}
	<div id="fb-root"></div>
	<form id="facebook-login-form" action="/facebook/connect/?facebook_login=1" method="post">
		{% csrf_token %}
		<input type="hidden" value="/mentor/{{user_id}}/contact" name="next" />
		<div class="w-container main-column login-screen top" ng-controller="UserSignupController">
    		<div class="text title large login">To contact the mentor, please sign in.</div>
    		<a class="sign-up-button login" ng-click="facebookLogin()">sign in with facebook</a>
  		</div>
	</form>
	<div class="w-container main-column login-screen bottom" ng-controller="UserSignupController" ng-click="steamLogin()"><a class="sign-up-button login" href="#">sign in with Steam</a></div>
{% endblock %}

{% block scripts_pre %}
  <script src="{% static "js/angular-file-upload-shim.min.js" %}"></script> 
{% endblock %}

{% block scripts %}
	<script src="{% static "js/angular-file-upload.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/angular-route.min.js" %}/?v={{platform_version}}"></script>
	<script type="text/javascript" src="{% static "js/shared.js" %}/?v={{platform_version}}"></script>
	<script type="text/javascript" src="{% static "js/mentor_contact.js" %}/?v={{platform_version}}"></script>
	<script type="text/javascript" src="{% static "js/navigation.js" %}/?v={{platform_version}}"></script>
{% endblock %}