{% extends "pages/shared/page.html" %}
{% load staticfiles %}

{% block body_tag %}ng-app="mentorSignupApp"{% endblock %}

{% block content %}
	{% include "pages/shared/facebook.html" %}
	<div id="fb-root"></div>
	<form id="facebook-login-form" action="/facebook/connect/?facebook_login=1" method="post">
		{% csrf_token %}
		<input type="hidden" value="/register/mentor" name="next" />
		<div class="w-container main-column login-screen top" ng-controller="MentorSignupController" ng-click="facebookLogin()"><a class="sign-up-button login" href="#">Sign in with facebook</a>
		</div>
	</form>
	<div class="w-container main-column login-screen bottom" ng-controller="MentorSignupController" ng-click="steamLogin()"><a class="sign-up-button login" href="#">Sign in Steam</a></div>
{% endblock %}

{% block scripts_pre %}
  <script src="{% static "js/angular-file-upload-shim.min.js" %}"></script> 
{% endblock %}

{% block scripts %}
	<script src="{% static "js/angular-file-upload.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/angular-route.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/shared.js" %}"></script> 
	<script type="text/javascript" src="{% static "js/mentor_signup.js" %}"></script>
	<script type="text/javascript" src="{% static "js/navigation.js" %}"></script>
{% endblock %}