{% extends "pages/shared/page.html" %}
{% load staticfiles %}

{% block content %}
	<div class="w-container main-column title">
    <div class="text title large with-comment">Sign up as a dota 2 mentor</div>
    <div class="text subtitle">Information you fill in will help us put you in touch with the right students</div>
  </div>
  <div class="search-filter-section" ng-controller="MentorProfileController">
    <div class="w-container main-column settings">
      <div class="w-form">
        <form id="emailForm" name="emailForm" action="/" onsubmit="return false">
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="name">Display name*</label>
            </div>
            <div class="w-col w-col-8">
              <input class="w-input text form" id="name" type="text" placeholder="Enter your name" name="name" data-name="Name" required="required" ng-model="mentor.displayName">
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text ttile regular" for="name">Upload profile picture*</label>
            </div>
            <div class="w-col w-col-8 w-clearfix"><!--a class="nav-link upload" href="#">SELECT picture</a-->
              <input type="file" class="nav-link upload" name="profilePicture" ng-controller="ProfilePictureController" ng-model="picture.profilePicture" ng-file-select="onFileSelect($files)" />
              <div class="text paragraph upload">Maximum picture size: 140x140 pixels&nbsp;</div>
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="name">Steam ID&nbsp;name*</label>
            </div>
            <div class="w-col w-col-8">
              <input class="w-input text form" id="name-2" type="text" placeholder="Steam ID" name="name-2"required="required" ng-model="mentor.steamId">
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="name">Your&nbsp;Steam ID&nbsp;link*</label>
            </div>
            <div class="w-col w-col-8">
              <input class="w-input text form" id="name-3" type="text" placeholder="http://" name="name-3" required="required" ng-model="mentor.steamIdLink">
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="email">Email Address*</label>
            </div>
            <div class="w-col w-col-8">
              <input class="w-input text form" id="email" type="email" placeholder="Enter your email address" name="email" required="required" ng-model="mentor.email">
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="email">Confirm email Address*</label>
            </div>
            <div class="w-col w-col-8">
              <input class="w-input text form input" id="email-2" type="email" placeholder="Enter your email address again" name="email-2" required="required" ng-model="mentor.email2">
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="email">About me*</label>
            </div>
            <div class="w-col w-col-8">
              <textarea class="w-input text form input-area" id="about-me" placeholder="Tell a bit about yourself" name="about-me" required="required" ng-model="mentor.about"></textarea>
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="email">What roles do you Play?*</label>
            </div>
            <div class="w-col w-col-8">
              <div class="w-row text form">
                <div class="w-col w-col-3">
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="role" type="checkbox" name="role-1" data-name="Role 1" ng-model="mentor.role.carry">
                    <label class="w-form-label" for="role">Carry</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="role-9" type="checkbox" name="role-9" data-name="Role 9" ng-model="mentor.role.disabler">
                    <label class="w-form-label" for="role-9">Disabler</label>
                  </div>
                </div>
                <div class="w-col w-col-3">
                  <div class="w-checkbox w-clearfix">
                    <input class="w-checkbox-input" id="role-10" type="checkbox" name="role-10" ng-model="mentor.role.ganker">
                    <label class="w-form-label" for="role-10">Ganker</label>
                  </div>
                  <div class="w-checkbox w-clearfix">
                    <input class="w-checkbox-input" id="role-11" type="checkbox" name="role-11" ng-model="mentor.role.initiator">
                    <label class="w-form-label" for="role-11">Initiator</label>
                  </div>
                </div>
                <div class="w-col w-col-3">
                  <div class="w-checkbox w-clearfix">
                    <input class="w-checkbox-input" id="role-12" type="checkbox" name="role-12" data-name="Role 12" ng-model="mentor.role.jungler">
                    <label class="w-form-label" for="role-12">Jungler</label>
                  </div>
                  <div class="w-checkbox w-clearfix">
                    <input class="w-checkbox-input" id="role-13" type="checkbox" name="role-13" data-name="Role 13" ng-model="mentor.role.offlaner">
                    <label class="w-form-label" for="role-13">Offlaner</label>
                  </div>
                </div>
                <div class="w-col w-col-3">
                  <div class="w-checkbox w-clearfix">
                    <input class="w-checkbox-input" id="role-14" type="checkbox" name="role-14" data-name="Role 14" ng-model="mentor.role.pusher">
                    <label class="w-form-label" for="role-14">Pusher</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="role-15" type="checkbox" name="role-15" data-name="Role 15" ng-model="mentor.role.support">
                    <label class="w-form-label" for="role-15">Support</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="email">What are your top heroes?*</label>
            </div>
            <div class="w-col w-col-8" ng-controller="TopHeroController">
              <select class="w-select text form" id="field-4" name="field-4" required="required" ng-model="mentor.topheroes.first">
                <!--option value="">1st place</option-->
                <option value="{% templatetag openvariable %}tophero.identifier{% templatetag closevariable %}" class="ng-hide" ng-repeat="tophero in topheroes" ng-show="topheroes">{% templatetag openvariable %}tophero.label{% templatetag closevariable %}</option>
              </select>
              <select class="w-select text form" id="field-5" name="field-5" ng-model="mentor.topheroes.second">
                <!--option value="">2nd place</option-->
                <option value="{% templatetag openvariable %}tophero.identifier{% templatetag closevariable %}" class="ng-hide" ng-repeat="tophero in topheroes" ng-show="topheroes">{% templatetag openvariable %}tophero.label{% templatetag closevariable %}</option>
              </select>
              <select class="w-select text form" id="field-6" name="field-6" ng-model="mentor.topheroes.third">
                <!--option value="">3rd place</option-->
                <option value="{% templatetag openvariable %}tophero.identifier{% templatetag closevariable %}" class="ng-hide" ng-repeat="tophero in topheroes" ng-show="topheroes">{% templatetag openvariable %}tophero.label{% templatetag closevariable %}</option>
              </select>
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="email">Your statistics</label>
            </div>
            <div class="w-col w-col-8">
              <input class="w-input text form" id="field" type="text" placeholder="Number of games played" name="field" ng-model="mentor.statistics.gamesPlayed">
              <input class="w-input text form" id="field-2" type="text" placeholder="Win rate (%)" name="field-2" required="required" ng-model="mentor.statistics.winRate">
              <input class="w-input text form" id="field-3" type="text" placeholder="Solo MMR" name="field-3" required="required" ng-model="mentor.statistics.soloMmr">
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text ttile regular" for="email">Which regions do you play?*</label>
            </div>
            <div class="w-col w-col-8">
              <div class="w-row text form">
                <div class="w-col w-col-3">
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="region" type="checkbox" name="region-1" data-name="Region 1" ng-model="mentor.region.uswest">
                    <label class="w-form-label" for="region">US West</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="region-9" type="checkbox" name="region-9" data-name="Region 9" ng-model="mentor.region.useast">
                    <label class="w-form-label" for="region-9">US&nbsp;East</label>
                  </div>
                </div>
                <div class="w-col w-col-3">
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="region-10" type="checkbox" name="region-10" data-name="Region 10" ng-model="mentor.region.euwest">
                    <label class="w-form-label" for="region-10">EU West</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="region-11" type="checkbox" name="region-11" data-name="Region 11" ng-model="mentor.region.eueast">
                    <label class="w-form-label" for="region-11">EU&nbsp;East</label>
                  </div>
                </div>
                <div class="w-col w-col-3">
                  <div class="w-checkbox w-clearfix">
                    <input class="w-checkbox-input" id="region-12" type="checkbox" name="region-12" data-name="Region 12" ng-model="mentor.region.russia">
                    <label class="w-form-label" for="region-12">Russia</label>
                  </div>
                  <div class="w-checkbox w-clearfix">
                    <input class="w-checkbox-input" id="region-13" type="checkbox" name="region-13" data-name="Region 13" ng-model="mentor.region.southamerica">
                    <label class="w-form-label" for="region-13">South America</label>
                  </div>
                </div>
                <div class="w-col w-col-3">
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="region-14" type="checkbox" name="region-14" data-name="Region 14" ng-model="mentor.region.seasia">
                    <label class="w-form-label" for="region-14">SE Asia</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="region-15" type="checkbox" name="region-15" data-name="Region 15" ng-model="mentor.region.australia">
                    <label class="w-form-label" for="region-15">Australia</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="email">When are you available to mentor students?*</label>
            </div>
            <div class="w-col w-col-8">
              <div class="w-row text form">
                <div class="w-col w-col-3">
                  <div class="w-radio w-clearfix">
                    <input class="w-radio-input" id="node" type="radio" name="day" value="1" data-name="Day" ng-model="mentor.day" ng-change="change()">
                    <label class="w-form-label" for="node">Weekends only</label>
                  </div>
                  <div class="w-radio w-clearfix">
                    <input class="w-radio-input" id="node-2" type="radio" name="day" value="2" data-name="Day" ng-model="mentor.day" ng-change="change()">
                    <label class="w-form-label" for="node-2">Any day</label>
                  </div>
                </div>
                <div class="w-col w-col-3">
                  <div class="w-radio">
                    <input class="w-radio-input" id="node-3" type="radio" name="time" value="1" data-name="Time" ng-model="mentor.time" ng-change="change()">
                    <label class="w-form-label" for="node-3">Evenings only</label>
                  </div>
                  <div class="w-radio">
                    <input class="w-radio-input" id="node-3" type="radio" name="time" value="1" data-name="Time" ng-model="mentor.time" ng-change="change()">
                    <label class="w-form-label" for="node-3">Any time</label>
                  </div>
                </div>
                <div class="w-col w-col-3"></div>
                <div class="w-col w-col-3"></div>
              </div>
            </div>
          </div>
          <div class="w-row form-question">
            <div class="w-col w-col-4">
              <label class="text title regular" for="email">How would you like to mentor student?*</label>
            </div>
            <div class="w-col w-col-8">
              <div class="w-row text form">
                <div class="w-col w-col-6">
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="role" type="checkbox" name="role-1" data-name="Role 1" ng-model="mentor.mentoring.individual">
                    <label class="w-form-label" for="role">Individual mentoring</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="role-16" type="checkbox" name="role-16" data-name="Role 16" ng-model="mentor.mentoring.team">
                    <label class="w-form-label" for="role-16">Team mentoring</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="role-20" type="checkbox" name="role-20" data-name="Role 20" ng-model="mentor.mentoring.spectating">
                    <label class="w-form-label" for="role-20">Mentoring while spectating</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="role-19" type="checkbox" name="role-19" data-name="Role 19" ng-model="mentor.mentoring.together">
                    <label class="w-form-label" for="role-19">Mentoring while playing together</label>
                  </div>
                </div>
                <div class="w-col w-col-6">
                  <div class="w-checkbox w-clearfix">
                    <input class="w-checkbox-input" id="role-17" type="checkbox" name="role-17" data-name="Role 17" ng-model="mentor.mentoring.analysing">
                    <label class="w-form-label" for="role-17">Analysing replys</label>
                  </div>
                  <div class="w-checkbox w-clearfix">
                    <input class="w-checkbox-input" id="role-18" type="checkbox" name="role-18" data-name="Role 18" ng-model="mentor.mentoring.questions">
                    <label class="w-form-label" for="role-18">General questions &amp;&nbsp;answers</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="role-21" type="checkbox" name="role-21" data-name="Role 21" ng-model="mentor.mentoring.voicechat">
                    <label class="w-form-label" for="role-21">Voice chat</label>
                  </div>
                  <div class="w-checkbox">
                    <input class="w-checkbox-input" id="role-22" type="checkbox" name="role-22" data-name="Role 22" ng-model="mentor.mentoring.textchat">
                    <label class="w-form-label" for="role-22">Text chat</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4">
              <label class="text title regular">Terms &amp; conditions*</label>
            </div>
            <div class="w-col w-col-8 text">
              <div class="w-checkbox w-clearfix text form">
                <input class="w-checkbox-input" id="i-agree-with-term-conditions" type="checkbox" name="i-agree-with-term-conditions" data-name="I agree with Term &amp; Conditions" required="required" ng-model="mentor.terms">
                <label class="w-form-label" for="i-agree-with-term-conditions">I agree with Gamecoach Terms &amp;&nbsp;Conditions</label>
              </div>
            </div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4"></div>
            <div class="w-col w-col-8">
              <ul class="agreements">
                <li>
                  <div class="text paragraph">I have read Gamecoach <a href="#">Privacy Policy</a>
                  </div>
                </li>
                <li>
                  <div class="text paragraph">This website places cookies on your computer to help make this website better. You can&nbsp;<a href="#">change your cookie settings</a>&nbsp;at any time. Otherwise, we'll assume you're OK to continue</div>
                </li>
              </ul>
            </div>
          </div>
          <button class="w-button sign-up-button" ng-click="save(emailForm)">Save</button>
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
      <div class="text paragraph">*Mandatory questions</div>
    </div>
  </div>
  <div>
{% endblock %}

{% block scripts_pre %}
  <script src="{% static "js/angular-file-upload-shim.min.js" %}"></script> 
{% endblock %}

{% block scripts %}
  <script src="{% static "js/angular-file-upload.min.js" %}"></script> 
	<script type="text/javascript" src="{% static "js/mentor_signup.js" %}"></script>
  <script type="text/javascript" src="{% static "js/navigation.js" %}"></script>
{% endblock %}